In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [2]:
csv_path = "Resources/gunviol.csv"
gunviol_df = pd.read_csv(csv_path)

gunviol_df.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,congressional_district,gun_stolen,gun_type,incident_characteristics,latitude,location_description,longitude,n_guns_involved,notes,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,14.0,NaN,NaN,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,NaN,-79.8559,NaN,Julian Sims under investigation: Four Shot and...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,43.0,NaN,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,NaN,-118.3330,NaN,Four Shot; One Killed; Unidentified shooter in...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,9.0,0::Unknown||1::Unknown,0::Unknown||1::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,Cotton Club,-82.1377,2.0,NaN,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,6.0,NaN,NaN,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,NaN,-104.8020,NaN,NaN,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,6.0,0::Unknown||1::Unknown,0::Handgun||1::Handgun,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,NaN,-79.9569,2.0,Two firearms recovered. (Attempted) murder sui...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [3]:
gunviol_df['day'] = ''
gunviol_df['month'] = ''
gunviol_df['year'] = ''
gunviol_df[["year", "month", "day"]] = gunviol_df["date"].str.split("-", expand = True)
gunviol_df

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,congressional_district,gun_stolen,gun_type,incident_characteristics,latitude,location_description,longitude,n_guns_involved,notes,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district,day,month,year
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,14.0,NaN,NaN,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,NaN,-79.8559,NaN,Julian Sims under investigation: Four Shot and...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN,01,01,2013
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,43.0,NaN,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,NaN,-118.3330,NaN,Four Shot; One Killed; Unidentified shooter in...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0,01,01,2013
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,9.0,0::Unknown||1::Unknown,0::Unknown||1::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,Cotton Club,-82.1377,2.0,NaN,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0,01,01,2013
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,6.0,NaN,NaN,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,NaN,-104.8020,NaN,NaN,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0,05,01,2013
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,6.0,0::Unknown||1::Unknown,0::Handgun||1::Handgun,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,NaN,-79.9569,2.0,Two firearms recovered. (Attempted) murder sui...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0,07,01,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239672,1083142,2018-03-31,Louisiana,Rayne,North Riceland Road and Highway 90,0,0,http://www.gunviolencearchive.org/incident/108...,http://www.klfy.com/news/local/rayne-woman-cha...,False,NaN,0::Unknown,0::Unknown,Shots Fired - No Injuries,NaN,NaN,NaN,1.0,NaN,0::25,0::Adult 18+,0::Female,0::Jhkeya Tezeno,NaN,"0::Unharmed, Arrested",0::Subject-Suspect,http://www.klfy.com/news/local/rayne-woman-cha...,NaN,NaN,31,03,2018
239673,1083139,2018-03-31,Louisiana,Natchitoches,247 Keyser Ave,1,0,http://www.gunviolencearchive.org/incident/108...,http://www.ksla.com/story/37854648/man-wanted-...,False,4.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)||Ins...",31.7537,Shop Rite,-93.0836,1.0,NaN,1::21,0::Adult 18+||1::Adult 18+,0::Male||1::Male,0::Jamal Haskett||1::Jaquarious Tyjuan Ardison,NaN,"0::Killed||1::Unharmed, Arrested",0::Victim||1::Subject-Suspect,http://www.ksla.com/story/37854648/man-wanted-...,23.0,31.0,31,03,2018
239674,1083151,2018-03-31,Louisiana,Gretna,1300 block of Cook Street,0,1,http://www.gunviolencearchive.org/incident/108...,http://www.nola.com/crime/index.ssf/2018/04/sh...,False,2.0,0::Unknown,0::Unknown,Shot - Wounded/Injured,29.9239,NaN,-90.0442,1.0,NaN,0::21,0::Adult 18+,0::Male,NaN,NaN,0::Injured,0::Victim,http://www.nola.com/crime/index.ssf/2018/04/sh...,85.0,7.0,31,03,2018
239675,1082514,2018-03-31,Texas,Houston,12630 Ashford Point Dr,1,0,http://www.gunviolencearchive.org/incident/108...,https://www.chron.com/news/houston-texas/houst...,False,9.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)",29.7201,Vanderbilt Court apartments,-95.6110,1.0,"Vic was found shot to death in car on 4/1/18, ...",0::42,0::Adult 18+,0::Male,0::Leroy Ellis,NaN,0::Killed,0::Victim,http://www.khou.com/article/news/hpd-investiga...,149.0,17.0,31,03,2018
239676,1081940,2018-03-31,Maine,Norridgewock,434 Skowhegan Rd,2,0,http://www.gunviolencearchive.org/incident/108...,https://www.centralmaine.com/2018/03/31/police...,False,2.0,0::Unknown||1::Unknown,0::Handgun||1::Shotgun,"Shot - Dead (murder, accidental, suicide)||Sui...",44.7293,NaN,-69.7691,2.0,"ALT: US 2, shot wife then self, handgun, shotg...",0::58||1::62,0::Adult 18+||1::Adult 18+,0::Female||1::Male,0::Marie Lancaster Hale||1::William Hale,1::Significant others - current or former,0::Killed||1::Killed,0::Victim||1::Subject-Suspect,https://www.centralmaine.com/2018/03/31/police...,111.0,3.0,31,03,2018

In [4]:
list(gunviol_df.columns)

['incident_id',
 'date',
 'state',
 'city_or_county',
 'address',
 'n_killed',
 'n_injured',
 'incident_url',
 'source_url',
 'incident_url_fields_missing',
 'congressional_district',
 'gun_stolen',
 'gun_type',
 'incident_characteristics',
 'latitude',
 'location_description',
 'longitude',
 'n_guns_involved',
 'notes',
 'participant_age',
 'participant_age_group',
 'participant_gender',
 'participant_name',
 'participant_relationship',
 'participant_status',
 'participant_type',
 'sources',
 'state_house_district',
 'state_senate_district',
 'day',
 'month',
 'year']

In [8]:
newgunviol_df = gunviol_df[['state',
                            'n_killed',
                            'n_injured',
                            'year']]
newgunviol_df

                 state  n_killed  n_injured  year
0         Pennsylvania         0          4  2013
1           California         1          3  2013
2                 Ohio         1          3  2013
3             Colorado         4          0  2013
4       North Carolina         2          2  2013
...                ...       ...        ...   ...
239672       Louisiana         0          0  2018
239673       Louisiana         1          0  2018
239674       Louisiana         0          1  2018
239675           Texas         1          0  2018
239676           Maine         2          0  2018

[239677 rows x 4 columns]

In [9]:
new_df= newgunviol_df[(newgunviol_df['year'] == '2017')]
new_df

                 state  n_killed  n_injured  year
164474       Tennessee         1          0  2017
164475        Nebraska         0          0  2017
164476        Nebraska         0          1  2017
164477    Pennsylvania         0          1  2017
164478      New Mexico         0          0  2017
...                ...       ...        ...   ...
225870  South Carolina         0          0  2017
225871         Florida         0          0  2017
225872         Florida         0          1  2017
225873        Illinois         0          1  2017
225874        Kentucky         0          1  2017

[61401 rows x 4 columns]

In [10]:
csv_path2 = "Resources/waffles.csv"
waffles_df = pd.read_csv(csv_path2)

waffles_df.head()

,Location,Loc,Population,MedianAgeMarriage,Marriage,Marriage.SE,Divorce,Divorce.SE,WaffleHouses,South,Slaves1860,Population1860,PropSlaves1860
0,Alabama,AL,4.78,25.3,20.2,1.27,12.7,0.79,128,1,435080,964201,0.45
1,Alaska,AK,0.71,25.2,26.0,2.93,12.5,2.05,0,0,0,0,0.00
2,Arizona,AZ,6.33,25.8,20.3,0.98,10.8,0.74,18,0,0,0,0.00
3,Arkansas,AR,2.92,24.3,26.4,1.70,13.5,1.22,41,1,111115,435450,0.26
4,California,CA,37.25,26.8,19.1,0.39,8.0,0.24,0,0,0,379994,0.00

In [12]:
list(waffles_df.columns)

['Location',
 'Loc',
 'Population',
 'MedianAgeMarriage',
 'Marriage',
 'Marriage.SE',
 'Divorce',
 'Divorce.SE',
 'WaffleHouses',
 'South',
 'Slaves1860',
 'Population1860',
 'PropSlaves1860']

In [13]:
newwaffles_df = waffles_df[['Location',
                            'Loc',
                            'Marriage',
                            'Divorce',
                            'WaffleHouses']]
newwaffles_df

                Location Loc  Marriage  Divorce  WaffleHouses
0                Alabama  AL      20.2     12.7           128
1                 Alaska  AK      26.0     12.5             0
2                Arizona  AZ      20.3     10.8            18
3               Arkansas  AR      26.4     13.5            41
4             California  CA      19.1      8.0             0
5               Colorado  CO      23.5     11.6            11
6            Connecticut  CT      17.1      6.7             0
7               Delaware  DE      23.1      8.9             3
8   District of Columbia  DC      17.7      6.3             0
9                Florida  FL      17.0      8.5           133
10               Georgia  GA      22.1     11.5           381
11                Hawaii  HI      24.9      8.3             0
12                 Idaho  ID      25.8      7.7             0
13              Illinois  IL      17.9      8.0             2
14               Indiana  IN      19.8     11.0            17
15                  Iowa  IA      21.5     10.2             0
16                Kansas  KS      22.1     10.6             6
17              Kentucky  KY      22.2     12.6            64
18             Louisiana  LA      20.6     11.0            66
19                 Maine  ME      13.5     13.0             0
20              Maryland  MD      18.3      8.8            11
21         Massachusetts  MA      15.8      7.8             0
22              Michigan  MI      16.5      9.2             0
23             Minnesota  MN      15.3      7.4             0
24           Mississippi  MS      19.3     11.1            72
25              Missouri  MO      18.6      9.5            39
26               Montana  MT      18.5      9.1             0
27              Nebraska  NE      19.6      8.8             0
28         New Hampshire  NH      16.7     10.1             0
29            New Jersey  NJ      14.8      6.1             0
30            New Mexico  NM      20.4     10.2             2
31              New York  NY      16.8      6.6             0
32        North Carolina  NC      20.4      9.9           142
33          North Dakota  ND      26.7      8.0             0
34                  Ohio  OH      16.9      9.5            64
35              Oklahoma  OK      23.8     12.8            16
36                Oregon  OR      18.9     10.4             0
37          Pennsylvania  PA      15.5      7.7            11
38          Rhode Island  RI      15.0      9.4             0
39        South Carolina  SC      18.1      8.1           144
40          South Dakota  SD      20.1     10.9             0
41             Tennessee  TN      19.4     11.4           103
42                 Texas  TX      21.5     10.0            99
43                  Utah  UT      29.6     10.2             0
44               Vermont  VT      16.4      9.6             0
45              Virginia  VA      20.5      8.9            40
46            Washington  WA      21.4     10.0             0
47         West Virginia  WV      22.2     10.9             4
48             Wisconsin  WI      17.2      8.3             0
49               Wyoming  WY      30.7     10.3             0

In [16]:
waffles = newwaffles_df.rename(columns ={"Location":"state", 
                                          "Marriage":"% Married", 
                                          "Divorce":"% Divorced"})
waffles

                   state Loc  % Married  % Divorced  WaffleHouses
0                Alabama  AL       20.2        12.7           128
1                 Alaska  AK       26.0        12.5             0
2                Arizona  AZ       20.3        10.8            18
3               Arkansas  AR       26.4        13.5            41
4             California  CA       19.1         8.0             0
5               Colorado  CO       23.5        11.6            11
6            Connecticut  CT       17.1         6.7             0
7               Delaware  DE       23.1         8.9             3
8   District of Columbia  DC       17.7         6.3             0
9                Florida  FL       17.0         8.5           133
10               Georgia  GA       22.1        11.5           381
11                Hawaii  HI       24.9         8.3             0
12                 Idaho  ID       25.8         7.7             0
13              Illinois  IL       17.9         8.0             2
14               Indiana  IN       19.8        11.0            17
15                  Iowa  IA       21.5        10.2             0
16                Kansas  KS       22.1        10.6             6
17              Kentucky  KY       22.2        12.6            64
18             Louisiana  LA       20.6        11.0            66
19                 Maine  ME       13.5        13.0             0
20              Maryland  MD       18.3         8.8            11
21         Massachusetts  MA       15.8         7.8             0
22              Michigan  MI       16.5         9.2             0
23             Minnesota  MN       15.3         7.4             0
24           Mississippi  MS       19.3        11.1            72
25              Missouri  MO       18.6         9.5            39
26               Montana  MT       18.5         9.1             0
27              Nebraska  NE       19.6         8.8             0
28         New Hampshire  NH       16.7        10.1             0
29            New Jersey  NJ       14.8         6.1             0
30            New Mexico  NM       20.4        10.2             2
31              New York  NY       16.8         6.6             0
32        North Carolina  NC       20.4         9.9           142
33          North Dakota  ND       26.7         8.0             0
34                  Ohio  OH       16.9         9.5            64
35              Oklahoma  OK       23.8        12.8            16
36                Oregon  OR       18.9        10.4             0
37          Pennsylvania  PA       15.5         7.7            11
38          Rhode Island  RI       15.0         9.4             0
39        South Carolina  SC       18.1         8.1           144
40          South Dakota  SD       20.1        10.9             0
41             Tennessee  TN       19.4        11.4           103
42                 Texas  TX       21.5        10.0            99
43                  Utah  UT       29.6        10.2             0
44               Vermont  VT       16.4         9.6             0
45              Virginia  VA       20.5         8.9            40
46            Washington  WA       21.4        10.0             0
47         West Virginia  WV       22.2        10.9             4
48             Wisconsin  WI       17.2         8.3             0
49               Wyoming  WY       30.7        10.3             0

In [ ]:
#export dbs to csv